body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    display: flex;
    justify-content: flex-start;
    padding: 0rem;
    margin-bottom: 0rem;
    border: #7a7a77 solid 0.2rem;
}

.Find {
    color: #ffffff;
    width: auto;
    padding: 0.5rem;
    flex-grow: 1;
    font-size: 1.5rem;
    display: inline-block;
    justify-content: space-around;
    background-color: #7a7a77;
    margin: 0rem;
}

.Fellows {
    color: #2d2d2b;
    width: fit-content;
    padding: 1rem;
    flex-grow: 1;
    display: inline-block;
    justify-content: space-around;
    background-color: #c9c9c5;
    margin: 0rem;
}

.Contact {
    color: #ffffff;
    padding: 1rem;
    width: max-content;
    flex-grow: 5;
    font-size: 1rem;
    display: inline-block;
    justify-content: space-around;
    background: #7a7a77;
    margin: 0rem;
}

.carousel {
    background-color: #c9c9c5;
    padding: 8rem;
}

#Fellowbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Fellowsh2 {
    text-align: center;
}

#article {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: #7a7a77 solid 0.2rem;
}

article {
    background-color: #c9c9c5;
    padding: 8rem;
}

.Contacth2 {
    text-align: left
}

#conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    width: 30rem;
    margin: 0.5rem;
}